<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infantstudio.community">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Adddata"


            >
            <intent-filter>
                <action android:name="android.intent.action.ADDDATA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Countrylist.FragmentCountryList"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".DisplayUser" />
        <activity
            android:name=".Lists.SearchCountry"
            android:label="Country"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Lists.SearchState"
            android:label="State"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Lists.SearchCity"
            android:label="City"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Lists.SearchProfestion"
            android:label="Profession"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Lists.SearchCommunity"
            android:label="Community"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".SearchMain"></activity><![CDATA[
        />
    ]]>
    </application>

</manifest>